* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background: #001e4d;
}

.app {
    background: #fff;
    width: 90%;
    max-width: 60%;
    margin: 10% auto 0;
    border-radius: 10px;
    padding: 2%;
}

.app h1 {
    font-size: 500%;
    color: #001e4d;
}

.quizz {
    padding: 2%;
}

.quizz h2 {
    font-size: 150%;
}

.images img {
    width: 200px;
    border-radius: 4px;
}

.red_cross {
    text-align: right;
}

.red_cross img {
    max-width : 6%;
}

.pictureButton {
    background-color: #fbeee0;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.pictureButton:hover {
    background-color: #fff;
}
.pictureButton:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.descriptionButton {
    background-color: #ff7426;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.descriptionButton:hover {
    background-color: orange;
}
.descriptionButton:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}

.backHome {
    background-color: #ff0000;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: #422800;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    margin: 1%;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
.backHome:hover {
    background-color: rgb(134, 35, 35);
}
.backHome:active {
    box-shadow: #422800 2px 2px 0 0;
    transform: translate(2px, 2px);
}


.inputText input {
    width: 100%;
    padding: 12px 20px;
    margin: 1% 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;
    background-color: white;
}

.inputText h3 {
	float: center;
	display: inline;
}

.inputText h2 {
	float: right;
	display: inline;
}

.validateButton {
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 60px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    margin: 2%;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.validateButton:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
}

.validateButton:hover {
    background-color: #2c974b;
}

.validateButton:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
}

.validateButton:disabled {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.validateButton:active {
    background-color: #298e46;
    box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}


.game_buttons a {
    appearance: none;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 60px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #2b2db4;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    font-size: 24px;
    font-weight: bolder;
    line-height: 200px;
    padding: 100px 100px;
    margin: 2%;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
}

.game_buttons:focus:not(:focus-visible):not(.focus-visible) a {
    box-shadow: none;
    outline: none;
}

.game_buttons:disabled a {
    background-color: #94d3a2;
    border-color: rgba(27, 31, 35, .1);
    color: rgba(255, 255, 255, .8);
    cursor: default;
}

.recipe_Button {
    background-size: cover;
    background-image: url('images/cuisine.jpg');
    opacity: 0.9;
}

.recipe_Button:hover {
    background-size: cover;
    background-image: url('images/cuisine.jpg');
    opacity: 0.8;
}

.movie_Button {
    background-size: cover;
    background-image: url('images/movie.jpg');
    opacity: 0.9;
}

.movie_Button:hover {
    background-size: cover;
    background-image: url('images/movie.jpg');
    opacity: 0.8;
}